doctype html
// index.html, a simple sign up web page, created by Yongye Fan, 27/11/2018
html(lang='en')
  head
    title Simple Sign up Page

    meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
    meta(name='author' content='Yongye Fan')
    meta(name='revised' content='Yongye Fan, 27/11/2018')
    meta(name='generator' content='Sublime Text 3')
    meta(name='description' content='Homework 7-Sign up')

    link(rel='stylesheet' type='text/css' href='../css/style.css' media='screen')
    link(rel='shortcut icon' type='image/png' href='../image/register.png')

    script(src='https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js')
    script(src='../js/validityCheck.js')
    script(src='../js/script.js')

  body
    .container
      .logo
        img(src='../image/register.png' alt='用户注册')

      if !error
        .info-bar 用户注册
      else
        if error.errorInfo.length == 1
          .error-bar #{error.errorInfo.firstError}
        else
          .error-bar
            .formError #{error.errorInfo.firstError}
            .uniqueError #{error.errorInfo.secondError}

      form(method='POST')
        .username
          if !error
            if username
              input(name='username' value=username)
            else
              input(name='username' value='用户名')
          else
            input(name='username' value=error.userInfo.username)

          .error 请输入6~18位英文字母、数字或下划线，且以英文字母开头

        .student-id
          if !error
            input(name='student-id' value='学号')
          else
            input(name='student-id' value=error.userInfo.id)

          .error 请输入8位数字学号，不能以0开头

        .mobile
          if !error
            input(name='mobile' value='手机')
          else
            input(name='mobile' value=error.userInfo.mobile)

          .error 请输入11位数字电话号码，不能以0开头

        .email
          if !error
            input(name='email' value='邮箱')
          else
            input(name='email' value=error.userInfo.email)

          .error 请输入正确格式的邮箱，如'**@**.com'

        .buttons
          input.reset(
            type='reset'
            value='重置'
          )

          input.submit(
            type='submit'
            value='提交'
          )
